<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{778,511}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,24},{778,511}}</string>
                <key>sourceSize</key>
                <string>{800,555}</string>
            </dict>
            <key>joy.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,2},{126,80}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,43},{126,80}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>jupter.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,444},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{774,182}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{774,182}}</string>
                <key>sourceSize</key>
                <string>{800,200}</string>
            </dict>
            <key>lua.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,444},{256,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{256,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>marte.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,515},{240,240}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{240,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mercurio.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,692},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{250,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>meter.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,444},{256,162}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,61},{256,162}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>needle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{176,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>netuno.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,434},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>plutao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,186},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,608},{142,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,0},{142,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,176},{140,250}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,6},{140,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,843},{182,182}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{182,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,949},{174,174}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{174,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1027},{164,164}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,47},{164,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,752},{142,246}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,10},{142,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,515},{134,246}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,10},{134,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,515},{128,242}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,12},{128,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1814,634},{136,216}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,12},{136,216}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,830},{154,188}}</string>
                <key>offset</key>
                <string>{1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,17},{154,188}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,428},{204,220}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,11},{204,220}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,645},{196,196}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{196,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,757},{190,190}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{190,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>saturno.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,688},{246,146}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,53},{246,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>share.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1085},{128,126}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>sound_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,819},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>sound_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,757},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,262},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,702},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,196},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,130},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,836},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,937},{56,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,328},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,890},{54,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,828},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,766},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,894},{62,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,881},{56,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,515},{44,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,2},{398,172}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{398,172}}</string>
                <key>sourceSize</key>
                <string>{410,180}</string>
            </dict>
            <key>terra.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,186},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>uranus.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,186},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>uranus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,772},{200,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{200,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>venus.png</key>
            <dict>
                <key>frame</key>
                <string>{{1558,176},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>wl.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,836},{196,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,126}}</string>
                <key>sourceSize</key>
                <string>{196,126}</string>
            </dict>
            <key>wr.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,702},{196,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,126}}</string>
                <key>sourceSize</key>
                <string>{196,126}</string>
            </dict>
            <key>wsl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{196,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,126}}</string>
                <key>sourceSize</key>
                <string>{196,126}</string>
            </dict>
            <key>wsr.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,651},{196,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,126}}</string>
                <key>sourceSize</key>
                <string>{196,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>art.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66e49aba0114ab27628e40433ecaa38b:12931ffe95d42655b17219db83f3d7be:ce74f62e8f18832799afe8f099e7b8c5$</string>
            <key>textureFileName</key>
            <string>art.png</string>
        </dict>
    </dict>
</plist>
