<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jupter.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>lua.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,482},{256,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{256,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>marte.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,692},{240,240}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{240,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>mercurio.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,642},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{250,250}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>meter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{256,144}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{256,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>needle.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1130},{176,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{176,176}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>netuno.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>plat.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,518},{172,252}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,2},{172,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>plutao.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,518},{122,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{122,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,894},{124,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,8},{124,240}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,946},{182,182}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{182,182}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1136},{174,174}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,42},{174,174}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1218},{164,164}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,47},{164,164}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{140,242}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,7},{140,242}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,324},{156,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,6},{156,244}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,2},{172,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,5},{172,246}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{190,248}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{190,248}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{194,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,10},{194,236}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,740},{204,224}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,16},{204,224}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1020},{196,196}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,31},{196,196}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>rocket_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1194},{190,190}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,34},{190,190}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>saturno.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,176},{246,146}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,53},{246,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>star_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1078},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1208},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,1012},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,946},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1066},{56,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{56,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,1136},{56,54}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1144},{64,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{64,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,1188},{54,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{54,52}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1000},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,934},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{64,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,1272},{62,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{62,62}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1132},{56,54}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{56,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>star_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,740},{44,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{44,42}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>terra.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>uranus.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>uranus2.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,934},{200,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,27},{200,202}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>venus.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,256}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>art.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7bd66f43342536816dc60b544c38f09:dca354be0a5213bd213f6fc70532cef7:ce74f62e8f18832799afe8f099e7b8c5$</string>
            <key>textureFileName</key>
            <string>art.png</string>
        </dict>
    </dict>
</plist>
